<div ng-init="onInit()">
    <div class="page-header">
        <h1>
            Invoice
            <span ng-if="item.id">#{{item.id}}</span>
        </h1>
    </div>
    <div class="alert alert-danger" ng-if="errorMesage">{{errorMesage}}
    </div>
    <div class="form-group">
        <div class="control-label">
            Customer:
        </div>
        <div>
            <select class="form-control" id="sel1" ng-model="customerId" ng-change="saveInvoice(item)">
                <option value={{customer.id}} ng-repeat="customer in customers">{{customer.name}}</option>
            </select>
        </div>
    </div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td colspan="5">
                <select class="form-control" id="sel2" ng-model="productId" placeholder="Choose product">
                    <option value="{{product.id}}" ng-repeat="product in products">{{product.name}}</option>
                </select>
            </td>
            <td>
                <button class="btn btn-default" ng-disabled="!customerId || !productId" type="button"
                        ng-click="addProduct(item.id, productId, 1)"><span class="glyphicon glyphicon-plus"></span>Add product
                </button>
            </td>
        </tr>
        <!--product list ng-repeat-->
        <tr ng-repeat="invoiceItem in invoiceItems">
            <td colspan="4">
                {{invoiceItem.name}}
                <div class="glyphicon glyphicon-trash text-danger" ng-click="removeInvoiceItem(item.id, invoiceItem.id)"></div>
            </td>
            <td>
                <input type="number" min="0" class="form-control" ng-model="invoiceItem.quantity"
                       ng-change="saveInvoiceItem(invoiceItem, item.id)"
                       ng-model-options="{ debounce: 200 }"/>
            </td>
            <td>$ {{invoiceItem.total_price}}</td>
        </tr>
        <!--discount-->
        <tr>
            <td colspan="5" class="text-right"><b>Discount: </b></td>
            <td>
                <div class="input-group">
                    <input type="number" min="0" class="form-control" ng-model="item.discount" ng-change="saveInvoice(item)"
                           ng-model-options="{ debounce: 200 }"/>
                    <span class="input-group-addon" id="basic-addon1">%</span>
                </div>

            </td>
        </tr>
        <!--total-->
        <tr>
            <td colspan="6" class="text-right"><b>Total: ${{totalPrice}}</b></td>
        </tr>
        </tbody>
    </table>


</div>
